<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzg.ssm.mapper.NoticeMapper">
    <resultMap id="BaseResultMap" type="com.hzg.ssm.domain.Notice">
        <id column="id" property="id" jdbcType="BIGINT"/>

        <result column="pubdate" property="pubdate" jdbcType="TIMESTAMP"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <!--<result column="issuer_id" property="issuerId" jdbcType="BIGINT"/>-->
        <association property="employee" columnPrefix="e_" javaType="com.hzg.ssm.domain.Employee">
            <result column="id" property="id"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from notice
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.hzg.ssm.domain.Notice" useGeneratedKeys="true" keyProperty="id">
        insert into notice (issuer_id, pubdate, title,
                            content)
        values (#{employee.id,jdbcType=BIGINT}, #{pubdate,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR},
                #{content,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.hzg.ssm.domain.Notice">
        update notice
        set
            title     = #{title,jdbcType=VARCHAR},
            content   = #{content,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
            n.id,
            n.issuer_id,
            n.pubdate,
            n.title,
            n.content,e.id as e_id,e.name as e_name
        from notice n
            LEFT JOIN employee e on e.id=n.issuer_id
        where n.id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
            id,
            issuer_id,
            pubdate,
            title,
            content
        from notice
    </select>
    <select id="selectForList" resultMap="BaseResultMap">
        select
            n.id,
            n.issuer_id,
            n.pubdate,
            n.title,
            n.content,e.id as e_id,e.name as e_name
        from notice n
            LEFT JOIN employee e on e.id=n.issuer_id
    </select>
    <!--查看是否已读-->
    <select id="selectSee" resultMap="BaseResultMap">
        select * from notice n
            LEFT JOIN notice_employee ne on ne.notice_id=n.id
         where ne.notice_id=#{noticeId} and ne.employee_id=#{employeeId}
    </select>
    <!--查看已读的方法二-->
    <select id="selectSee2" resultType="integer">
        select notice_id from notice_employee
        where employee_id=#{employeeId}
    </select>
    <!--删除中间表-->
    <delete id="deleteRes">
        delete from notice_employee
        where notice_id = #{noticeId,jdbcType=BIGINT} and employee_id=#{employeeId}
    </delete>
    <!--中间表插入数据-->
    <insert id="insertRes">
        insert into notice_employee(notice_id, employee_id) values (#{noticeId},#{employeeId})
    </insert>
</mapper>